* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 100%;
  min-height: 800px;
  margin: 0 auto;
  background-color:rgb(230, 230, 230);
}
.flex_row{
  margin-bottom: 20px;
}
.flex_element{
  border:5px solid rgb(240, 92, 6);
  background-color:rgb(164, 233, 146);
  display: flex;
  align-items: center;
  margin-right: 20px;
 
}
.flex_content{
  display: flex;
  justify-content: center;
  width: 100px;
  font-size: 20px;
}

.flex_row_align_items_1{
  display: flex;
  height: 200px;
   /* stretch (default) */
  align-items: stretch;
  background: rgb(240, 240, 166);
}

.flex_row_align_items_2{
  display: flex;
  height: 200px;
  align-items: flex-start; 
  background: rgb(240, 240, 166);
}
.flex_row_align_items_3{
  display: flex;
  height: 200px;
  align-items: flex-end;
  background: rgb(240, 240, 166);
}
.flex_row_align_items_4{
  display: flex;
  height: 200px;
  align-items: center;
  background: rgb(240, 240, 166);
}
.flex_row_align_items_5{
  display: flex;
  height: 200px;
  align-items: baseline;
  background: rgb(240, 240, 166);
}

.flex_element_1 {
  height: 140px;
}
.flex_element_2 {
  height: 150px;
}
.flex_element_3 {
  height: 160px;
}
.flex_element_4{
  height: 155px;
}
.flex_element_5{
  height: 145px;
}
.flex_element_6{
  height: 135px;
}
