*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.button_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 800px;
  height: 400px;
  background-color: #000;
  border-radius: 30px;
}
button {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: darkorange;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
}
.modal {
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal_content {
  width: 640px;
  height: 200px;
  border-radius: 30px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
