* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color:rgb(204, 204, 204);
}
.container{
  
  height: 800px;
}
span{
  margin: 20px 0px 0px 20px;
  font-size: 20px;
}
h2{
  margin: 120px 0px 0px 20px;
  font-size: 40px;
}
.author{
  margin: 180px 0px 0px 20px;
  font-size: 24px;
}
.name{
  margin: 10px 0px 0px 20px;
  font-size: 24px;
}

.placeholder{
  
  width: 300px;
  height: 480px;
  background-color: rgb(83, 80, 80); 
  border: 1px solid #000;
  border-radius: 20px;
  padding: 20px;
  color: #fff;
  font-weight: bolder;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.6);
  display: inline-block;
  
}
.placeholder_1{
  position: relative;
  top: 150px;
  left: 50px;
  transition: all 0.3s ease-in-out;

}
.placeholder_2{
  position: relative;
  top: 150px;
  left: -150px;
  transition: all 0.3s ease-in-out;

}
.placeholder_3{
  position: relative;
  top: 150px;
  left: -350px;
  transition: all 0.3s ease-in-out;

}
.placeholder_4{
  position: relative;
  top: 150px;
  left: -550px;
  transition: all 0.3s ease-in-out;

}

.placeholder:hover{
  margin-right: 200px;
  cursor: pointer;
  transform: translateY(-10%);
  color: red;
  z-index: 3;
}